body{
  background-color: #FF380E;
}
h1{
  text-align: center;
}
  #nameone{
    margin-left: 600px;
  }
  #emailone{
   margin-left: 600px;
  }
  #passwordone{
     margin-left: 600px;
  }
  #genderone{
    margin-left: 600px;
  }
  
#bdayth{
  margin-left: 600px;
}
#contuctone{
  margin-left: 600px;
}
#button{
  margin-left: 600px;
  margin-bottom: 50px
}
.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #1abc9c;
   color: white;
   text-align: center;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}



.main {
  margin-left: 160px; 
  font-size: 28px; 
  padding: 0px 10px;
}
.sidenavright{
 height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-left: 1760px
}
.sidenavright a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenavright a:hover {
  color: #f1f1f1;
}
